.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 85px;
  padding-inline: 30px;
  margin-bottom: 100px;
  align-items: center;
}

.planets-image-container {
  width: 60%;
  height: auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  /* margin: 170px 0px 0px 0px; */
  position: relative;
}

.planets-images{
  animation: rotateX 10s infinite linear;
  max-width: 500px;
  max-height: 500px;
  border-radius: 20%;
}

@keyframes rotateX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

.description-container {
  width: 400px;
  height: auto;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.description-container h1 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 103.52px;
}

.description-container > p:first-of-type {
  width: 350px;
  height: 150px;
  opacity: 75%;
}

.overview-container {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  background-color: #070724;
  z-index: 100;
}

.overview-container button {
  width: 350px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.2s all;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  font-size: 15px;
}

.overview-container button > p:first-of-type {
  width: 60px;
  opacity: 50%;
}

.overview-container button:hover {
  cursor: pointer;
}

.source {
  opacity: 50%;
  color: white;
}

.wiki {
  opacity: 75%;
  color: white;
  text-decoration: underline;
}

.details-container{
  width: 100%;
  height: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  align-content: center;
}

.detail-cards{
  width: 165px;
  height: 68px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.detail-cards p {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  opacity: 50%;
  letter-spacing: 1px;
}

.detail-cards h1{
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 51.76px;
  letter-spacing: -1.5px;
}

.geology-overlay{
  position: absolute;
  width: 120px;
  height: 150px;
  top: 320px;
}

.internal-structure::before{
  content: "INTERNAL STRUCTURE";
}

.surface-geology::before{
  content: "SURFACE GEOLOGY";
}

.zeroTwo::before{
  content: '01';
}

.zeroThree::before{
  content: '02';
}

.zeroOne::before{
  content: '03';
}

@media screen and (max-width: 1115px) {
  .details-container{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 990px) {
  .container{
    flex-direction: column;
  }

  .description-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .texts-container{
    width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 740px) {
  .overview-container{
    position: absolute;
    top: 27px;
    width: 103%;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    gap: 0;
  }

  .description-container{
    text-align: center;
  }

  .overview-container button{
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .internal-structure::before {
    content: none; /* Hide the content before 740px */
  }

  .internal-structure::after{
    content: 'STRUCTURE';
  }

  .surface-geology::before {
    content: none; /* Hide the content before 740px */
  }

  .surface-geology::after{
    content: 'SURFACE';
  }

  .zeroTwo::before{
    content: none;
  }
  
  .zeroThree::before{
    content: none;
  }
  
  .zeroOne::before{
    content: none;
  }

  .planets-image-container{
    width: 100%;
  }

}

@media screen and (max-width: 650px) {
  .details-container{
    grid-template-columns: auto;
    height: auto;
  }

  .description-container{
    margin-bottom: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .planets-images{
    width: 90%;
  }
}