.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.planets-image-container {
  width: 715px;
  height: auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  margin: 57px 0px;
  animation: rotateX 10s infinite linear;
}

@keyframes rotateX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

.description-container {
  width: 400px;
  height: 400px;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
}

.description-container h1 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 103.52px;
}

.description-container > p:first-of-type {
  width: 350px;
  height: 150px;
  opacity: 75%;
}

.overview-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.overview-container button {
  width: 350px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.2s all;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  font-size: 15px;
}

.overview-container button > p:first-of-type {
  width: 60px;
  opacity: 50%;
}

.overview-container button:hover {
  cursor: pointer;
}

.source {
  opacity: 50%;
  color: white;
}

.wiki {
  opacity: 75%;
  color: white;
  text-decoration: underline;
}

.details-container{
  width: 100%;
  height: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
}

.detail-cards{
  width: 235px;
  height: 88px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.detail-cards p {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  opacity: 50%;
  letter-spacing: 1px;
}

.detail-cards h1{
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 51.76px;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 1115px) {
  .details-container{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 650px) {
  .details-container{
    grid-template-columns: auto;
  }
}